:root {
    /* color */
    --white-color: #ffffff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0100;
    --grey-dark-color: #9e9e9e;
    --grey-light-color: #e0e0e0;

    /* size */
    --padding: 12px;
    --avatar-size: 36px;

    /* font size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12x;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
    position: sticky;
    top: 0;
}

header.logo {
    font-size: var(--font-large);
}

header div.logo i {
    color: var(--red-color);
}

header div .fa-search {
    margin-right: var(--padding);
}

/*video player*/
.player {
    text-align: center;
    background-color: var(--black-color);

}

.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

body>.info {
    padding: var(--padding);
}

.info .metadata .hashtag {
    display: flex;
    font-size: 14px;
    color: var(--blue-color);
}

.info .metadata .hashtag li {
    margin-right: var(--padding);

}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: va(--font-medium);
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
    height: 20px;
    transition: transfrom 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
    transform: rotate(180deg);
}

.info .view {
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

/*action buttons*/

.info .action {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0px;
}

.info .action button {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.info .action button.active {
    color: var(--blue-color);
}

.info .action span {
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--padding) / 2);
    font-size: var(--font-micro)
}


.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px var(--grey-light-color);
    border-bottom: solid 1px var(--grey-light-color);
    padding: 4px 0;
}

.info .channel .metadata {
    width: 100%;
    display: flex;
    align-items: center;
}

.info .channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.info div.info {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.info .channel .metadata .info .subscriber {
    color: var(--grey-dark-color);
    font-size: var(--font-micro);
}

.info .channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium)
}

/*up next*/
.upNext {
    padding: 0 var(--padding);
}

.upNext>.title {
    color: var(--grey-dark-color);
    font-size: var(--font-medium);
    margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
    display: flex;
    margin-top: var(--padding);
}


.upNext .item .img {
    flex: 1 1 35%;
    margin-right: var(--padding);
}

.upNext img {
    width: 100%;
}

.upNext .item .info {
    flex: 1 1 60%;
}

.upNext .item .moreBtn {
    flex: 1 1 5%;
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
}

.upNext .item .info .name,
.upNext .item .info .view {
    font-size: 12px;
    margin-top: calc(var(--padding) / 2);
    color: var(--grey-dark-color);

}

.upNext .item span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--padding);
}

.upNext .item .moreBtn {
    height: 20px;
}

div>.infoAndUpNext {
    display: flex;
    flex-direction: column;
}


/*??? ERROR ???*/
@media screen and (min-width: 768px) {
    div>.infoAndUpNext {
        margin: var(--padding) 0;
        flex-direction: row;
    }
}